*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    padding: 20px;
    width: auto;
    height: auto;
    display:flex;
   justify-content: space-between;
   background-color: #F45050;
    padding: 10px;
    overflow: visible;
}
.header{
    padding-left: 25px;
    font-size: larger;
}
.about{
    padding-right:25px ;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    list-style: none;
}
.about li{
    margin-right: 30px;
    justify-content: space-evenly;
    font-size: larger;
}
.types{
    display: flex;
   margin: 20px;
   
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left:50vw;
    margin-bottom: 20px;
  

}
.size li{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: larger;
    list-style: none;
}
.buttons button{
    margin-bottom: 25px;
    padding:5px;
   
}
.items{padding: 20px;}
.outerbody{
    background-color:#F0F0F0 ;
}
